
<div class="zxx_main_con">
    <div class="zxx_test_list">
        <div class="rel mb20">
            <img class="xuwanting" src="http://test.com/images/zd.jpg"  style="" />
            <span class="preview_box crop_preview">
                <img class="img_crop_preview" src="http://test.com/images/zd.jpg" />
            </span>
        </div>  
        <form class="crop_form">
            <input type="hidden" class="x" name="x" />
            <input type="hidden" class="y" name="y" />
            <input type="hidden" class="w" name="w" />
            <input type="hidden" class="h" name="h" />
            <a class="crop_submit save_btn"><span>确认剪裁</span></a>
        </form>
    </div>
    <p>X坐标：<span class="jcrop_x"></span></p>
		    <p>Y坐标：<span class="jcrop_y"></span></p>
		    <p>宽：<span class="jcrop_w"></span></p>
		    <p>高：<span class="jcrop_h"></span></p>
</div>
