<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="main.s" stopProcessing="true">
                    <match url="release/app/scripts/main-\d+.min.js" />
                    <action type="Rewrite" url="main.asp" />
                </rule>
                <rule name="min" stopProcessing="true">
                    <match url="(release|hotfix)/app/(.*)\-\d+(\.min)?(\.js|\.css)$" />
                    <action type="Rewrite" url="{R:2}{R:4}" />
                </rule>
                <rule name="ux" stopProcessing="true">
                    <match url="release/app/(.*)" />
                    <action type="Rewrite" url="{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
