<div class="bs_dialog2" style="display:block">
	<div class="dialog_wrap">
		<div class="tit"><%=delPopTitle%></div>
		<form class="form_txaleft">
            <div class="person_list">
                <ul class="list_frm bigerrDialogWrap clearfix">
                    <li>
                    	<span class="aui_icon art_confirm"></span>
                		<span class="fontweight fonts14">确定要移除该文件吗？</span>
                    </li>
                </ul>
            </div>
            <div class="btn_area btn_area_v1 clearfix">
                
                <a href="javascript:void(0)" class="btn_save btn_save_file"><span>确定</span></a>
				<a href="javascript:void(0)" class="btn_canc btn_canc_file"><span>取消</span></a>
                
                <a href="javascript:void(0)" class="ico_clse simplemodal-close"></a>
            </div>
        </form>
	</div>
</div>